


.menu-container {
    display: block;
    text-align: center;
    padding-top: 5px;
    
}
.title {
    align-items: center;
    font-size: 50px;
    font-family: "New Grotesk Square THREE _WEB";
}
.break {
    margin-left: 200px;
    margin-right: 200px;
    
}

#logo {
    display: inline;
    height: 200px;


}

