body{
    /* background-color: rgb(2,167,201);
    border: 2px solid black; */

   

  }


.menu-container {
    display: block;
    text-align: center;
    padding-top: 5px;
    margin: 10px 120px;



    
}
.title {
    align-items: center;
    font-size: 50px;
    font-family: "New Grotesk Square THREE _WEB";
    

}


#logo {
    display: inline;
    height: 200px;


}

